<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitlab-class-library" value="https://gitlab.com/api/v4/projects/{account}/packages/nuget/index.json" />
    <add key="local-drive" value="C:\repository\s3rverle5scod3r\aws-custom-class-libraries\nuget\components\nuget-class-library\bin\Release" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab-class-library>
      <add key="Username" value="tokenId" />
      <add key="ClearTextPassword" value="tokenValue" />
    </gitlab-class-library>
  </packageSourceCredentials>
</configuration>